@import '../../colors';

.primary-button{
    background-color: $primary-color;
    color: $secondary-color;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size:0.9rem;
    padding: 0.6rem 1.2rem;
    width: 17rem;
}

// Tablet
@media only screen and (max-width: 768px) {
    .primary-button{
        width: 14rem;
    }
  }
  
  //Mobile
  @media only screen and (max-width: 640px) {
 

  }
  