@import "../../../colors";

.planner-modal {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 0;
  z-index: 1;
}

.modal-content {
  border: 1px solid #888;
  width: 70%;
  height: 80%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  animation-name: animatetop;
  animation-duration: 0.4s;
  top: 80px;
  left: 270px;
  overflow-y: scroll;
}
.modal-content::-webkit-scrollbar {
  width: 1em;
}
.modal-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: $content-wrapper-color;
  outline: 1px solid rgb(222, 187, 157);
  border-radius: 100px;
  min-height: 100px;
}
.modal-content::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

.modal-content::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: $primary-color;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(120, 119, 119);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: $content-wrapper-color;
  justify-content: flex-end;
}

.modal-body {
  text-align: center;
}

.date {
  color: grey;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 3rem;
  text-shadow: 5px 5px 10px #aca3a3;
}

.item {
  width: 80%;
  margin-left: 7rem;
  margin-bottom: 3rem;

  .arrow-buttons-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 10px;
    height: 6rem;
    border: 5px $content-wrapper-color solid;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    cursor: pointer;

    .arrow-buttons {
      cursor: pointer;
      background: none;
      border: none;
      font-size: 22px;
      font-weight: 600;
      width: 9rem;
      border-right: 2px solid $main-brand-color;
      .arrow-icon {
        padding-right: 0.5rem;
      }
    }
    .recipe-title {
      overflow-x: auto;
      margin: 0;
      width: 41rem;
      color: rgb(90, 86, 86);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .recipe {
    padding-top: 2rem;
    .input-buttons-container {
      display: flex;
      justify-content: flex-end;

      .buttons-container {
        width: 6rem;
        margin-left: 15rem;

        .btn:first-of-type {
          margin-right: 0.1rem;
        }
        .btn:hover {
          color: grey;
        }
      }
    }
    .recipe-details {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      background: $content-wrapper-color;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
      height: 50%;
      padding: 15px;
      border-radius: 10px;

      .recipe-img {
        width: 15rem;
        height: 9rem;
        margin-right: 0.5rem;
      }
    }
  }
}

// Tablet
@media only screen and (max-width: 768px) {
  .modal-content {
    width: 90%;
    height: 80%;
    top: 80px;
    left: 50px;

    .item {
      margin-left: 4rem;
    }
    .recipe {
      .input-buttons-container {
        .buttons-container {
          margin-left: 11rem;
        }
      }
    }
  }
}

//Mobile
@media only screen and (max-width: 640px) {
  .modal-content {
    width: 80%;
    height: 80%;
    top: 80px;
    left: 50px;

    .item {
      margin-left: 4rem;
    }
    .recipe {
      .input-buttons-container {
        .buttons-container {
          margin-left: 2rem;
        }
      }
    }
  }
}
